.app {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 2em;
}

.arrow {
  max-height: 25rem;
}

.cta {
  display: flex;
  flex-direction: column;
  padding: 3rem 1rem
}
